@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-[#333];
    /* Thay font-family này */
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    font-size: 14px;
    /* Tăng nhẹ lên 14px cho dễ đọc */
    line-height: 1.5;

  }
}

input::placeholder {
  font-family: sans-serif;
  font-style: normal;
}

input {
  font-family: sans-serif !important;
}

/* Tùy chỉnh dấu chấm tròn cho Slider */
.slick-dots {
  bottom: 20px !important;
}

.slick-dots li button:before {
  color: white !important;
  font-size: 12px !important;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  /* Đổi từ center sang left để giao diện chuẩn hơn */
  background-color: transparent !important;
}

html,
body {
  margin: 0;
  padding: 0;
  /* background-color: #f0f0f0; */
  /* Màu nền dự phòng khi ảnh chưa tải xong */
}